<ion-header><ion-toolbar><ion-buttons slot="start"><ion-back-button defaultHref="/home"></ion-back-button></ion-buttons><ion-title>Detalle</ion-title></ion-toolbar></ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="!loading; else spinner">
    <ion-card *ngIf="data">
      <ion-card-header><ion-card-title>{{ data.user.name }}</ion-card-title></ion-card-header>
      <ion-card-content>
        <p><strong>Email</strong>: {{ data.user.email }}</p>
        <p><strong>Empresa</strong>: {{ data.user.company?.name }}</p>
        <p><strong>Dirección</strong>: {{ data.user.address.street }}, {{ data.user.address.city }}, {{ data.user.address.zipcode }}</p>
        <p><strong>Posts</strong>: {{ data.posts.length }}</p>
        <ion-button expand="block" (click)="toggleFav()">
          {{ isFav() ? 'Quitar de favoritos' : 'Agregar a favoritos' }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #spinner><div class="center"><ion-spinner></ion-spinner></div></ng-template>
</ion-content>
