<ion-header>
  <ion-toolbar>
    <ion-title>Favoritos</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home" fill="clear">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="(favorites$ | async) as favs; else loading">
    <ion-list *ngIf="favs.length > 0; else empty">
      <ion-item *ngFor="let u of favs" button (click)="openDetails(u.id)">
        <ion-label>
          <h2>{{ u.name }}</h2>
          <p>{{ u.email }}</p>
        </ion-label>
        <ion-button slot="end" color="danger" fill="clear" (click)="remove(u); $event.stopPropagation()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #loading>
    <div class="center"><ion-spinner name="crescent"></ion-spinner></div>
  </ng-template>

  <ng-template #empty>
    <div class="empty">No tienes favoritos aún.</div>
  </ng-template>
</ion-content>
